<!doctype html>
<html ng-app lang="en">
  <head>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/angular-1.0.2.js"></script>
    <script type="text/javascript" src="/js/angular-resource-1.0.2-fix.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/FileCtrl.js"></script>
    <script type="text/javascript" src="/js/UserCtrl.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
  </head>
  <body ng-controller="FileCtrl">
    <div ng-include src="'path-user.html'" class="pull-right"></div>
    <div ng-include src="'path-breadcrumb.html'" style="clear: both; padding-top: 1em"></div>
    <hr/>
    {{content}}
    <hr/>
    <div ng-include src="'path-children.html'"></div>
    <hr/>
    <textarea id="fileObject" rows="5" cols="20" ng-model="reply"></textarea><br/>
    <button ng-click="addAuto()" class="btn btn-primary">Send</button>
  </body>
</html>
